/* ForumsList.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container for ForumsList (30% width) */
#forums-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%; /* 30% width as requested */
  height: 100%; /* Full height of parent (#bottom-section) */
  border-radius: 10px;
  overflow: hidden;
  margin-left: 0;
  margin-top: 0.5vh;
  margin-right: 0.5vh;
  position: relative;
  background-color: var(--cs-black);
  background-size: 20vw 30vh;
  background-repeat: no-repeat;
  background-position: center;
}

/* Title styling */
#forums-list-container h2 {
  border-radius: 10px 10px 0 0; /* Top left and top right corners */
  background-color: var(--cs-red);
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  padding: 1vh;
  color: var(--cs-white);
  text-align: left;
  margin-top: 1vh;
}

/* Menu (list) styling */
#forums-list-container ul {
  border-radius: 0 0 10px 10px; /* Bottom left and bottom right corners */
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  color: var(--cs-white);
  text-align: center;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: calc(100% - 4vh); /* Adjust height relative to the parent */
  background-color: var(--cs-light-blue);
  overflow-y: auto; /* Enable scrolling */
  padding: 0; /* Remove default padding */
  list-style: none; /* Remove default list bullets */
}

/* Individual forum item */
.forum-item {
  display: flex;
  width: 100%;
  height: 12.5%; /* Match PostMenu tab height */
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--cs-light-blue);
  border-bottom: 2px solid var(--cs-black);
  font-family: 'Exo 2', sans-serif;
  font-size: 1rem;
  text-align: center;
  flex-direction: column;
}

/* Forum link */
.forum-item a {
  height: 100%; /* Full height of tab */
  text-align: left;
  padding: 0.5vh;
  font-size: 1.3rem; /* Match PostMenu item font size */
  text-decoration: underline; /* Match PostMenu item */
  color: var(--cs-black);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin-left: .5vw;
  margin-top: 1vh;
}

/* No forums message */
#forums-list-container p {
  color: var(--cs-black);
  font-family: 'Exo 2', sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 1vh;
}