* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Adjustments for the hot topics container */
#hot-topics-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 20.7vw;
  height: 80vh; /* Fixed height */
  border-radius: 10px;
  margin-left: 0;
  margin-top: .5vh;
  position: relative;
  background-color: var(--cs-black);
  background-size: 20vw 30vh;
  background-repeat: no-repeat;
  background-position: center;
}

#hot-topic-title {
  border-radius: 10px;
  background-color: var(--cs-red);
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  padding: 1vh;
  color: var(--cs-white);
  text-align: center;
  margin-top: 1vh;
}

#hot-topic-menu {
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  color: var(--cs-white);
  text-align: center;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Adjust to align content to the top */
  align-items: center;
  width: 100%;
  height: calc(100%); /* Adjust height relative to the parent */
  background-color: var(--cs-light-blue);
  border-radius: 10px;
}