.select-forum-button {
  font-family: 'Dosis', sans-serif;
  font-size: 1.2rem;
  background-color: #021013;
  color: var(--cs-white);
  border-radius: 20px;
  padding: 5px 20px;
  margin-top: 1vh;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 2px solid var(--cs-white);
  position: relative;
  z-index: 1;
}

.select-forum-button:hover {
  background-color: var(--cs-white);
  color: var(--cs-black);
}
