#profile-page-header {
  height: 50vh;
}

#profile-page-image-container {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 2vh;
  text-align: center;
  display: flex;
  align-items: center; /* Center the image vertically */
  justify-content: center; /* Center the image horizontally */
  overflow: hidden; /* Hide any overflow content */
}

#profile-page-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the circular area */
  border-radius: 50%;
}

#profile-page-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  font-size: 1.5rem;
  color: var(--cs-white);
}
